<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
detail

<input type="text" id="detail_board_id" readonly/>
<input type="text" id="detail_board_title" />
<input type="text" id="detail_board_content" />
<input type="text" id="detail_board_author" />

<button onclick="update_board()">
    글 수정
</button>
<button onclick="delete_board()">
    글 삭제
</button>

<script>
    //url에서 id값 추출해오기!
    let temp_url = window.location.href;
    let split_temp_url = temp_url.split('/');
    let final_id = split_temp_url[split_temp_url.length - 1];
    let split_q = final_id.split("?");
    if(split_q.length > 0){
        final_id = split_q[0];
    }
    $( document ).ready(function() {
        console.log( "ready!" );
        detail_board();
    });

    function detail_board(){
        $.ajax({
            url: "/api/board/detail",
            type: "GET",
            contentType : 'application/json; charset=utf-8',
            data: {
                id : final_id
            },
            cache: false,
            success: (obj_data, status, xhr)=>{
                /*
                alert(JSON.stringify(obj_data));
                {
                    "resultCode":200,
                    "detail_board":
                    {"author":"33","title":"44444","content":"22","order":1}}
                alert(obj_data["resultCode"]);
                alert(obj_data["detail_board"]["order"]);
                alert(obj_data["detail_board"]["title"]);
                alert(obj_data["detail_board"]["content"]);
                alert(obj_data["detail_board"]["author"]);
                 */
                //$("#detail_board_order").val(obj_data.order);
                $("#detail_board_id").val(obj_data["id"]);
                $("#detail_board_title").val(obj_data["title"]);
                $("#detail_board_content").val(obj_data["content"]);
                $("#detail_board_author").val(obj_data["author"]);
            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }

    function update_board(){
        $.ajax({
            url: "/api/board/update",
            type: "GET",
            contentType : 'application/json; charset=utf-8',
            data: {
                id : final_id
                ,title : $("#detail_board_title").val()
                ,content : $("#detail_board_content").val()
                ,author : $("#detail_board_author").val()
            },
            cache: false,
            success: (obj_data, status, xhr)=>{
                alert(JSON.stringify(obj_data));
            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }
    function delete_board(){
        $.ajax({
            url: "/api/board/delete",
            type: "GET",
            contentType : 'application/json; charset=utf-8',
            data: {
                id : final_id
            },
            cache: false,
            success: (obj_data, status, xhr)=>{
                alert(JSON.stringify(obj_data));
            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }
</script>


</body>
</html>