<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
paged list
요청페이지 : <input type="number" id="search_callpage" value="1" onchange="pList()"/>
한번에 볼 페이지 수: <input type="number" id="search_perpage" value="3" onchange="pList()"/>
<br/>
<br/>
전체 게시글 수 : <input type="number" id="info_total_itemcount" readonly="readonly"/>
전체 페이지 수 : <input type="number" id="info_total_pagecount" readonly="readonly"/>
<br/>
<br/>


검색어 : <input id="search_notice_title" onchange="pList()"/>
<div id="div_list">
</div>
<br/>
<br/>
페이지 호출
<div id="div_page_number">
</div>

<!--<button onclick="pList()">
    공지사항 전체 목록
</button>-->

<script>
    $( document ).ready(function() {
        console.log( "ready!" );
        pList();
    });
    function listener_callpage(obj_num){
        $("#search_callpage").val(obj_num);
        pList();
    }
    function pList(){
        $.ajax({
            url: "/api/notice/pagedList",
            type: "GET",
            contentType : 'application/json; charset=utf-8',
            data: {
                title : $("#search_notice_title").val()
                , perpage : $("#search_perpage").val()
                , callpage : $("#search_callpage").val()
            },
            cache: false,
            success: (obj_data, status, xhr)=>{
                $("#div_list").html("");
                $("#div_page_number").html("");
                let tempList = obj_data["list"];
                //alert(JSON.stringify(obj_data));
                for(let each of tempList){
                    $("#div_list").append(
                        "<a href='/notice/detail/"+each["id"]+"'>"+each["id"]+"</a>" + "//" + each["title"] + "<br/>"
                    );
                }
                $("#info_total_itemcount").val(obj_data["countList"]);
                $("#info_total_pagecount").val(obj_data["countPage"]);
                $("#search_callpage").val(obj_data["callpage"]);


                let callpage = obj_data["callpage"];
                //가장 앞 페이지로 긴급 이동
                $("#div_page_number").append(
                    "<a href='javascript:listener_callpage(1)'>&lt;&lt;</a> &nbsp; &nbsp;"
                );
                //현재 페이지 보다 앞페이지로 이동 하는 부분
                for(let i=0;i<3;i++){
                    let tempPage = callpage - 3 + i;
                    if(tempPage > 0){
                        $("#div_page_number").append(
                            "<a href='javascript:listener_callpage("+tempPage+")'>"+tempPage+"</a> &nbsp; &nbsp;"
                        );
                    }
                }

                $("#div_page_number").append(
                    "<a href='javascript:listener_callpage("+callpage+")'>"+callpage+"</a> &nbsp; &nbsp;"
                );

                //현재 페이지 보다 뒤페이지로 이동 하는 부분
                for(let i=0;i<3;i++){
                    let tempPage = callpage + 1 + i;
                    if(tempPage <= obj_data["countPage"]){
                        $("#div_page_number").append(
                            "<a href='javascript:listener_callpage("+tempPage+")'>"+tempPage+"</a> &nbsp; &nbsp;"
                        );
                    }
                }

                $("#div_page_number").append(
                    "<a href='javascript:listener_callpage("+obj_data["countPage"]+")'>&gt;&gt;</a> &nbsp; &nbsp;"
                );

                /*
                << 12 13 14 15 '16' 17 18 19 20 >>
                * */


            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }
    /*
    */
</script>

</body>
</html>