<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
create

<div id="div_id" class="div_abcde">
    사용자 신규 입력
</div>

*아이디
<input type="text" class="input_required" id="create_user_username" placeholder="아이디를 입력해주세요!"/>
*비번
<input type="password" class="input_required" id="create_user_password" placeholder="비밀번호를 입력해주세요!"/>
이름
<input type="text" id="create_user_name" />
전화번호
<input type="text" id="create_user_phone" />

<button onclick="create_user()">
    저장
</button>

<script>
    function create_user(){
        let input_required = $(".input_required");
        for(let each of input_required){
            let tempValue = $.trim($(each).val());
            if(tempValue == null || tempValue === ""){
                alert($(each).attr("placeholder"));
                $(each).focus();
                return false;
            }
        }


        $.ajax({
            url: "/api/user",
            type: "POST",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify({
                username : $("#create_user_username").val()
                ,password : $("#create_user_password").val()
                ,name : $("#create_user_name").val()
                ,phone : $("#create_user_phone").val()
            }),
            cache: false,
            success: (obj_data, status, xhr)=>{
                alert("등록되었습니다.");
                location.reload();
                /*alert(JSON.stringify(obj_data));*/
            },
            error: (obj_data, status, xhr)=>{
                alert("정상적으로 이루어지지 않았습니다. 다시 시도해주세요.");
                /*alert(JSON.stringify(obj_data));*/
            }
        });
    }
    /*
    */
</script>


</body>
</html>