<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
create

<div id="div_id" class="div_abcde">
    사용자 입력 테스트
</div>

아이디
<input type="text" id="create_user_username" />
비번
<input type="password" id="create_user_password" />
이름
<input type="text" id="create_user_name" />
전화번호
<input type="text" id="create_user_phone" />

<button onclick="create_user()">
    저장
</button>

<script>
    function create_user(){
        $.ajax({
            url: "/api/user/create",
            type: "POST",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify({
                username : $("#create_user_username").val()
                ,password : $("#create_user_password").val()
                ,name : $("#create_user_name").val()
                ,phone : $("#create_user_phone").val()
            }),
            cache: false,
            success: (obj_data, status, xhr)=>{
                alert(JSON.stringify(obj_data));
            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }
    /*
    */
</script>


</body>
</html>