<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
LOGIN

<div id="div_id" class="div_abcde">
    사용자 로그인
</div>

*아이디
<input type="text" class="input_required" id="create_user_username" placeholder="아이디를 입력해주세요!"/>
*비번
<input type="password" class="input_required" id="create_user_password" placeholder="비밀번호를 입력해주세요!"/>

<button onclick="login_user()">
    저장
</button>

<script>
    function login_user(){
        let input_required = $(".input_required");
        for(let each of input_required){
            let tempValue = $.trim($(each).val());
            if(tempValue == null || tempValue === ""){
                alert($(each).attr("placeholder"));
                $(each).focus();
                return false;
            }
        }
        $.ajax({
            url: "/api/user/login",
            type: "POST",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify({
                username : $("#create_user_username").val()
                ,password : $("#create_user_password").val()
            }),
            cache: false,
            success: (obj_data, status, xhr)=>{
                //alert(JSON.stringify(obj_data));
                localStorage.setItem("userId", obj_data["id"]);
                location.replace("/index");
            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }
    /*
    */
</script>


</body>
</html>