<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
회원가입
<!--
*회원가입
1. 프론트 페이지에서 signup.html 준비
2. 컨트롤러 signup 메소드 생성
3. 서비스 signup 메소드 생성

*아이디 중복확인
1. 중복확인 버튼 만들어두기
2. 버튼 눌르면 실행될 함수 만들어두기
3. 컨트롤러 id 메소드 생성
4. 서비스 id 메소드 생성
-->
<div id="temp_div">현재는 회원가입 안됨. 왜냐면 너 아이디 중복확인 안했음!</div>
아이디
<input type="text" id="create_user_username" />
<button onclick="id_user()" id="btn_id_user">
    아이디 중복확인
</button>

비번
<input type="password" id="create_user_password" />
이름
<input type="text" id="create_user_name" />
전화번호
<input type="text" id="create_user_phone" />

<button onclick="signup_user()" id="btn_signup_user" disabled>
    회원 가입
</button>

<script>
    function id_user(){
        $.ajax({
            url: "/api/user/id",
            type: "GET",
            contentType : 'application/json; charset=utf-8',
            data: {
                username : $("#create_user_username").val()
            },
            cache: false,
            success: (obj_data, status, xhr)=>{
                //alert(JSON.stringify(obj_data));
                if(obj_data){
                    $("#temp_div").text("아이디 잘고름! 회원가입 가능!!");
                    $("#btn_signup_user").attr("disabled", false);
                    $("#create_user_username").attr("readOnly", true);
                    $("#btn_id_user").remove();
                }

            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }
    function signup_user(){
        $.ajax({
            url: "/api/user/signup",
            type: "POST",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify({
                username : $("#create_user_username").val()
                ,password : $("#create_user_password").val()
                ,name : $("#create_user_name").val()
                ,phone : $("#create_user_phone").val()
            }),
            cache: false,
            success: (obj_data, status, xhr)=>{
                alert(JSON.stringify(obj_data));
            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }
    /*
    */
</script>


</body>
</html>