<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0/EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thc.fallsprbasic.mapper.FaqMapper">

	<!---->
	<select id="detail" parameterType="hashMap" resultType="com.thc.fallsprbasic.dto.FaqDto$DetailResDto">
		SELECT faq.id
		, faq.title
		, faq.content
		, faq.user_id as userId
		FROM faq
		WHERE faq.id = #{id}
	</select>

</mapper>